<!DOCTYPE html>
<html lang="en">

<head>
  <script>
    window.coords = <%- JSON.stringify(coords) %>;
    window.coords.northeast = window.coords.northeast.map((cord) => {
      return parseFloat(cord)
    })
    window.coords.southwest = window.coords.southwest.map((cord) => {
      return parseFloat(cord)
    })

    window.coords.center = window.coords.center.map((cord) => {
      return parseFloat(cord)
    })
    console.log(window.coords)
  </script>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>
  <div id="map"></div>
  <div class="modal-body">
    <input id="pinId" value="<%= pin.id %>" type="hidden" />
    <div class="form-group mb-3">
      <label>Navn på fisker</label>
      <input value="<%= pin.name %>" id="name" type="text" class="form-control" placeholder="Ola Nordmann" />
    </div>
    <div class="form-group mb-3">
      <label>Vekt (kg)</label>
      <input value="<%= pin.weight %>" id="weight" type="text" class="form-control" placeholder="4,4" />
    </div>
    <div class="form-group mb-3">
      <label>Lengde (cm)</label>
      <input value="<%= pin.length %>" id="length" type="text" class="form-control" placeholder="75" />
    </div>
    <div class="form-group mb3">
      <label for="speciesId">Fiskeslag</label>
      <select name="speciesId" id="speciesId" class="form-control">
        <option value="">Velg art</option>
        <option value="1">Laks</option>
        <option value="2">Fjellørret</option>
        <option value="3">Sjøørret</option>
      </select>
    </div>
    <div class="form-group mb-3">
      <label>Agn</label>
      <select class="form-select" id="bait">
        <option <%= pin.bait === "flue"? "selected": ""%> value="flue">Flue</option>
        <option <%= pin.bait === "sluk"? "selected": ""%> value="sluk">Sluk</option>
        <option <%= pin.bait === "wobbler"? "selected": ""%> value="wobbler">Wobbler</option>
      </select>
    </div>
    <div class="form-group mb-3">
      <label>Informasjon om agn:</label>
      <input value="<%= pin.baitInfo %>" id="length" type="text" class="form-control" placeholder="Eks. Møresild 16gram" />
    </div>
    <div class="form-group mb-3">
      <label>Dato (YYYY-MM-DD)</label>
      <input value="<%= pin.date %>" id="date" type="date" class="form-control" placeholder="2025-05-28" />
    </div>
    <div class="form-group mb-3">
      <label>Bilde</label>
      <input id="image" type="file" class="form-control" accept="image/png, image/jpeg, image/jpg" />
    </div>
    <div class="form-group mb-3" id="adminCheck">
      <label>Publisert</label>
      <div>
        <% if(pin.published) { %>

        <input id="published" value="<%= pin.date %>" type="checkbox" checked />
        <% }else { %>
        <input id="published" value="<%= pin.date %>" type="checkbox" />
        <% } %>
      </div>
    </div>
    <div>
      <button class=" btn btn-success" id="save">Lagre endringer</button>
    </div>
  </div>
  <script>
    const pin = <%- JSON.stringify(pin) %>;
    console.log(pin);
  </script>

  <script>
    const site = "<%= site %>";
    let user = null;
    let map = null;
    let templocation = 0;
    const zoomLevel = 15.5;
    let markers = [];
    window.onload = async () => {
      const token = localStorage.getItem("token");
      if (!token) {
        window.location.replace("/login");
        return;
      }
      await getMe();
    };

    async function getCurrentUser() {
      const response = await fetch(`/s/${site}/users/me`, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
        },
      });
      const data = await response.json();
      console.log(data);
      return data;
    }


    async function getMe() {
      const data = await getCurrentUser();
      console.log(data);
      if (data.username) {
        user = data;
        if (user.role !== "admin") {
          const adminCheck = document.getElementById("adminCheck")
          if (adminCheck) {
            adminCheck.style.display = "none"
          }
        }
      } else {
        console.log("is not logged in");
        window.location.href = `/s/${site}login`
      }
    }

    const savebtn = document.querySelector("#save");
    savebtn.addEventListener("click", async () => {
      const name = document.getElementById("name").value;
      const weight = document.getElementById("weight").value;
      const length = document.getElementById("length").value;
      const bait = document.getElementById("bait").value;
      const date = document.getElementById("date").value;
      const id = document.getElementById("pinId").value;
      const published = document.getElementById("published").checked;
      const image = document.getElementById("image").files[0];
      const species = document.getElementById("speciesId").value;
      const formdata = new FormData();
      formdata.append("name", name);
      formdata.append("weight", weight);
      formdata.append("date", date);
      formdata.append("speciesId", species);
      formdata.append("length", length);
      formdata.append("bait", bait);
      formdata.append("published", published);
      formdata.append("latitude", pin.latitude);
      formdata.append("longitude", pin.longitude);
      if (image) {
        formdata.append("image", image);
      }

      const response = await fetch(`/s/${site}/pins/edit/` + id, {
        method: "PATCH",
        body: formdata,
        headers: {
          authorization: `Bearer ${localStorage.getItem("token")}`,
        },
      });
      const data = await response.json();
      if (data.success) {
        alert("Endringer lagret");
        window.location.href = `/s/${site}`;
      }
    });

    function initMap() {
      const northEast = L.latLng(...window.coords.northeast);
      const southWest = L.latLng(...window.coords.southwest);
      map = L.map("map", {
        zoomControl: false,
        maxBounds: L.latLngBounds(southWest, northEast),
        minZoom: 14,
      }).setView(window.coords.center, zoomLevel);
      map.doubleClickZoom.disable();
      map.boxZoom.disable();
      map.keyboard.disable();
      L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }).addTo(map);
      addMarker(pin);
    }
    initMap();

    function addMarker(pin) {
      const marker = L.marker([pin.latitude, pin.longitude], {
        draggable: true,
      }).addTo(map);

      const markerIcon = marker.options.icon;
      const iconSize = 20;
      markerIcon.options.shadowSize = [0, 0];
      markerIcon.options.iconAnchor = [9, 20];
      markerIcon.options.iconSize = [iconSize * 0.7, iconSize];
      marker.setIcon(markerIcon);
      console.log(marker);
      markers.push(marker);
      marker.on("dragend", function(e) {
        const newLatLng = e.target.getLatLng();
        pin.latitude = newLatLng.lat;
        pin.longitude = newLatLng.lng;
        console.log(pin.latitude, pin.longitude);
      });

      markers.push(marker);
    }
    hideLoggedInElements();
  </script>
</body>

</html>